body {
    text-align: center;
    margin-top: 100px;
    vertical-align: center;
}

#container{
    background-color:hsla(210, 89%, 71%, 0.747);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(144, 144, 158, 0.6);
}
#userlabel,#passwordlabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin-right: 10px;
    margin-left: 10px;
}
#userid,#passwordid{
    height: 40px;
    width: 50%;
    margin-left:10px ;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    opacity: 0.85;

}
#submit{
    width: 30%;
    height: 35px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(11, 11, 172);
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
#usercontainer,#passwordcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
#link{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}
#submit:hover{
    background-color: #6845ca;
    transition: background-color 0.3s;
}
#userid:hover,#passwordid:hover{
    transition: background-color 0.1s ;
}
#registerlabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 28px;
}
#registerlink{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #1307b3;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
#registerlink:hover{
    text-decoration:underline;
    transition: color 0.3s;
}
#userid::placeholder,#passwordid::placeholder {
    font-size: 15px;
}
#user_error,#pass_error{
    font-size: 15px;
    opacity: 0.6;
}